.forecast-weather {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: repeating-linear-gradient(
    to right,
    rgba(102, 102, 204, 0.5) 10%,
    rgba(102, 102, 204, 1) 20%,
    rgba(102, 102, 204, 0.5) 30%
  );
  font-weight: bold;
  font-size: calc(6px + 2vmin);
  color: beige;
  height: 100%;
}

ul {
  list-style: none;
}
.weather-icon {
  min-width: 1vmax;
  max-width: 3vmax;
}

.weather-icon:hover {
  transform: scale(1.5);
}
