.Input-field {
  height: 10vh;
  background-color: bisque;
  font-weight: bold;
  font-size: calc(6px + 2vmin);
  padding-top: 4vh;
}

/* #imperial {
  height: 2vh;
  font-weight: normal;
}

#metric {
  height: 2vh;
  font-weight: normal;
} */
