.weather-card {
  font-weight: normal;
  font-size: calc(6px + 1vmin);
  /* display: flex; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid hsla(240, 100%, 27%, 0.5);
  box-shadow: 4px 4px hsla(195, 53%, 79%, 0.5);
  border-radius: 10px;
  /* padding: 1vmin; */
  margin: 1vmin;
  overflow: hidden;
}

.weather-card--header {
  color: darkred;
  font-weight: bold;
  background-color: beige;
  padding: 1vmin;
  /* width: 100%; */
  display: inline;
}

.weather-card--list-style {
  padding-inline-start: 0px;
}
